@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@100;200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  text-align: center;
}

header .home {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

header .home:hover {
  color: #0b41ff;
}

.navigation a {
  text-decoration: none;
  margin-right: 20px;

  color: black;
  font-weight: bold;
  font-size: 18px;
}

.navigation a:hover {
  color: #0b41ff;
}

section {
  padding: 50px 80px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("../pic/logo2.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 1px;
}

input {
  display: inline-block;
  width: 150px;
  box-sizing: border-box;
}

.input1 {
  width: 50px;
}

.btn {
  padding: 5px 5px;
  border-radius: 25px;
  border: #0b41ff;
  cursor: pointer;
  text-decoration: none;
  background-color: #0b41ff;
  font-weight: bold;
  color: white;
  margin-left: 300px;
}
