@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@100;200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  text-align: center;
}

header .img {
  width: 90px;
  top: auto;
  display: flex;
  padding: 8px;
}
.navigation a {
  text-decoration: none;
  margin-right: 20px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.navigation a:hover {
  color: blue;
}
section {
  padding: 10px 100px;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("../pic/Picture3.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.content {
  display: flex;
}
.card {
  width: 250px;
  border: 1px solid #0b41ff;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  float: left;
  justify-content: center;
  margin: 20px;
  margin-top: 20px;
  background-color: white;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.card .specialization {
  font-weight: bold;
}
.card .phone {
  font-weight: bold;
}

form {
  margin-left: 100px;
}

.btn {
  margin-top: 80px;
  padding: 10px 15px;
  border-radius: 25px;
  border: #0b41ff;
  cursor: pointer;
  text-decoration: none;
  background-color: #0b41ff;
  font-weight: bold;
  color: white;
  margin-left: 200px;
}
label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 1px;
}

input {
  display: inline-block;
  width: 150px;
  box-sizing: border-box;
}

.input1 {
  width: 30px;
}
